@import '../node_modules/@chrisoakman/chessboardjs/dist/chessboard-1.0.0.min.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: fit-content 1fr 100px;
    row-gap: 90px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    font-family: 'Monserrat', sans-serif;
    font-weight: 500;
    color: white;
    /* background-image: url('../static/img/hero_background\(1200\).jpg'); */
    background-color:rgb(30, 30, 30);
    /* background-blend-mode:overlay; */
}

main {
    display: grid;
    grid-template-rows: max-content max-content;
    row-gap: 40px;
    width: 85%;
    margin: auto;
}

.home_section1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
}

.home_section1 .home_greet {
    padding-top: 230px;
}

.home_section1 .home_greet h1{
    font-size: 100px;
    text-align: center;
}

.home_section1 .home_greet p{
    text-align: center;
    margin: 10px auto 30px auto;
}

.home_section1 .home_greet .home_auth-buttons{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 300px;
}

.home_section1 .home_play {
    margin: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

.home_section1 .home_play .play_btn {
    cursor: pointer;
    transition: all 0.2s ease 0s;
    background-color: rgb(50, 50, 50);
    height: 200px;
    color: white;
    border: 1px solid grey;
    font-size: xx-large;
}

.home_section1 .home_play .play_btn:hover {
    background-color: rgba(0, 136, 169, 1);
}
.home_section1 .home_play .play_btn:active {
    transform: scale(0.95);
}

.home_section1 .home_play .play_btn .loading {
    display: flex;
    justify-content: center;
}
.home_section1 .home_play .play_btn .loading::after {
    content: "";
    width: 50px;
    height: 50px;
    border: 5px solid transparent;
    border-top-color: white;
    border-bottom-color: white;
    border-radius: 50%;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}

.home_section2 {
    display: grid;
    column-gap: 20px;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.home_leg-game-1 {
    position: relative;
    background-color: rgba(255, 255, 255, .1);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
}

.home_leg-game-2 {
    background-color: rgba(255, 255, 255, .1);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
}

.home_leg-game-1 .player-1 {
    display: inline-block;
    width: fit-content;
    position: relative;
    left: 2px;
}

.home_leg-game-1 .player-2 {
    display: inline-block;
    width: fit-content;
    position: absolute;
    right: 6px;
}

.home_leg-game-2 .player-3 {
    display: inline-block;
    width: fit-content;
    position: relative;
    left: 2px;
}

.home_leg-game-2 .player-4 {
    display: inline-block;
    width: fit-content;
    position: absolute;
    right: 15px;
}

.home_section2 table {
    width: 100%;
    text-align: center;
}

.home_section2 table, .home_section2 td {
    text-align: center;
}

.home_section2 th, td {
    padding: 5px;
    background-color: rgba(255, 255, 255, .1);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(30px);
}

footer {
    background-color: rgb(50, 50, 50);
    height: 70px;
}
